  *{
    margin: 0;
    padding: 0px;
  }



 @font-face {
  font-family: "myFont";
  src: url(Supercell-Font.ttf);
 }




.Main {
                        padding: 0px 0px;
                        width: 100%;
                        background: linear-gradient(to top, rgba(0,0,0,0.3)50%, rgba(0,0,0,0.3)50%), url(./assets/CLASHROYALEBANNER.jpg);
                        background-position: center top ;
                        height: 50vh;  
                        background-repeat: no-repeat;
                    
                        }

  .navbar {
    width: 100%;
    display: flex;     
    background-color: rgb(14, 54, 91);  
    justify-content: center;
  }



  .navbar ul {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 10px;
    padding: 5px;
  }

  .navbar ul li a {
    color: rgba(167, 130, 63);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 16px;          
    border-radius: 6px;          
    transition: background-color 0.3s, color 0.3s;
    font-family: "myFont";
  }

  .navbar a:hover{
    background-color: rgba(0, 213, 255, 0.156);
  }

  .background{
    background-color: rgba(204, 221, 250);
    height: 425vh;
    padding-top: 50px;
  }

  .box{
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 1);
    padding: 30px;
    margin: auto;
    width: 1000px;
    height: 393vh;
    
  }
    
  .text {
    padding: 20px;
    text-align: left; 
    font-family: "myFont";
    font-size: 17px;
    line-height: 2.5;
  }

  .text h1 {
    color: rgb(150, 117, 63);
  }

  .text-image-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;

}

.info-image {
  padding-top: 30px;
  padding-right: 5px;
  width: 300px;
  height: 40vh;
  border-radius: 15px;
  flex-shrink: 0; 
  
}

a {
   text-decoration: none;
}

.text1-image-container {
  display: flex;
  align-items: flex-start;
  gap: 0px;
}

.info-image1 {
  width: 300px;
  height: 55vh;
  border-radius: 15px;
  flex-shrink: 0; 
  padding: 5px;
  padding-top: 40px;
}

.text1 {
    padding: 30px ;
    text-align: left; 
    font-family: "myFont";
    font-size: 17px;
    line-height: 2.5;
  }

  .text1 h1 {
    color: rgb(150, 117, 63);
  }

  h6 {
    color: red;
  }

  h1 {
    color: rgb(150, 117, 63);
    font-family: "myFont";
  }

.text2-image-container {
  display: flex;
  align-items: flex-start;
  gap: 0px;
}


.text2 {
    padding-left: 10px;
    text-align: left; 
    font-family: "myFont";
    font-size: 17px;
    line-height: 2.5;
  }

.text2 h1 {
  text-align: left;
}

.info-image2 {
  width: 300px;
  height: 42vh;
  border-radius: 15px;
  flex-shrink: 0; 
  padding: 5px;
  padding-top: 40px;
}

iframe {
  border: 3px solid #e67e22;
  border-radius: 6px;
  margin: 20px auto auto 245px; 
}

.text3 {
    padding-left: 10px;
    text-align: left; 
    font-family: "myFont";
    font-size: 17px;
    line-height: 2.5;
  }

.text3 h1 {
  text-align: left;
}

.info-image3 {
  width: 500px;
  height: 50vh;
  border-radius: 15px;
  flex-shrink: 0; 
  display: block;
  margin: auto;
  padding-top: 30px;
}

.text4 {
  padding-left: 10px;
  font-family: "myFont";
  line-height: 2.5;
  font-size: 17px;
}

table, th, td {
  border:1px solid black;
  font-family: "myFont";
  font-size: 18px;
}

.background footer cite ul a {
  gap: 100px;
  padding-top: 100px;
  
}


.footer {
  background-color: rgb(14, 54, 91);  
  height: 20vh;
  padding-top: 100px;
}

